html, body {
    overflow-x: hidden;
    outline: none;
    height: 100%;
    width: 100%;
    margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.Header {
  height: 70px;
  width: 100%;
  background-color: #DDD0C8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#header-tittle {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 30px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#header-options {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
  padding: 20px;
}

#site-tittle {
  color: #323232;
  font-weight: 400;
};

#gh-componenet {
  margin: 20px;
}

.Content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#add-space {
  width: 20%;
  height: 100%;
}

#terminal-space {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}